# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# Flask instance folder (if used)
instance/

# SQLite database (optional)
*.db

# VS Code settings
.vscode/

# OS junk files
.DS_Store
Thumbs.db
